---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel'
import Footer from '../components/Footer.astro'

---

<Layout
  title="Jerossua Construcciones" 
  description='"Expertos en construcción y reformas de viviendas con más de 20 años de experiencia. Transformamos tus espacios con calidad, innovación y atención personalizada. ¡Haz realidad la casa de tus sueños!'
>
  <section id="services" class="w-full m-auto md:max-w-[1100px] mt-[60px] p-2 lg:p-0 h-screen">
    <h2 class="text-2xl mt-6 mb-3 uppercase">NUESTROS SERVICIOS</h2>
    <hr>
    <br>
    <div id="services-items" class="grid grid-cols-1 lg:grid-cols-3 gap-[30px]">

    </div>
  </section>

  <Footer />
</Layout>