---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel'
import Footer from '../components/Footer.astro'
import Card from '../components/Card.astro';

const images = [
  "/images/services/IMG_20240316_123108_280.jpg",
  "/images/services/IMG_0561.jpg",
  "/images/services/24.jpg",
  "/images/services/21.jpg",
]
const services = [
    {
      id: '1',
      title: 'Fontanería',
      description: 'Ya sea que necesites reparar una fuga, instalar un nuevo sistema o realizar mantenimiento preventivo, nuestro equipo de expertos en fontanería ofrece soluciones rápidas y eficientes para todo tipo de instalaciones y problemas hidráulicos.',
      images: [
        '/images/services/16.jpg',
        '/images/services/13.jpg',
        '/images/services/12.jpg'
      ]
    },
    {
      id: '2',
      title: 'Reformas Integrales',
      description: 'Transformamos tu espacio con reformas integrales personalizadas. Desde renovaciones de cocinas y baños hasta la remodelación completa de viviendas, nuestro equipo combina diseño, funcionalidad y calidad para crear el hogar de tus sueños.',
      images: [
        '/images/services/10.jpg',
        '/images/services/24.jpg',
        '/images/services/17.jpg'
      ]
    },
    {
      id: '4',
      title: 'Albañilería',
      description: 'Especialistas en albañilería, ofrecemos servicios desde pequeñas reparaciones hasta grandes construcciones. Nuestro equipo de profesionales garantiza acabados de alta calidad, respetando los plazos y presupuestos acordados.',
      images: [
        '/images/services/21.jpg',
        '/images/services/26.jpg',
        '/images/services/12.jpg'
      ]
    },
    {
      id: '5',
      title: 'Pintura',
      description: 'Nuestro servicio de pintura da vida a tus espacios, con una amplia gama de colores y acabados. Trabajamos con precisión y cuidado, asegurando un resultado impecable que refleje tu estilo personal y embellezca tu hogar u oficina.',
      images: [
        '/images/services/25.jpg',
        '/images/services/1.jpg',
      ]
    },
    {
      id: '3',
      title: 'Vallados y Cercados',
      description: 'Ofrecemos soluciones de vallado y cercado para aumentar la seguridad y la estética de tu propiedad. Desde cercas de madera hasta vallas metálicas, personalizamos cada proyecto para satisfacer tus necesidades y preferencias estilísticas.',
      images: [
        '/images/hero_heating_02.jpg',
        '/images/hero_heating_01.jpg',
        '/images/hero_heating_03.jpg',
      ]
    }
  ]
---

<Layout
  title="Jerossua Construcciones" 
  description='"Expertos en construcción y reformas de viviendas con más de 20 años de experiencia. Transformamos tus espacios con calidad, innovación y atención personalizada. ¡Haz realidad la casa de tus sueños!'
>
  <section id="home" class="w-full h-screen flex justify-center flex-col">
    <div class="relative w-full h-full center">
      <Carousel images={images} client:load/>
      <div class="absolute md:w-[800px] md:h-[200px] z-10 text-center w-full h-[120px]">
        <h1 class="md:text-[4rem] font-bold text-white md:mb-7 shadow-text text-[2rem] mb-2.5">
          CONSTRUCCIONES EN VITORIA GASTEIZ
        </h1>
        <button class="text-white bg-[#d85427] font-bold rounded-full py-4 px-6 shadow-lg cursor-pointer transition-all duration-300 ease-in-out hover:scale-105">
          <a href="tel:346639130333" target="&quot;_blank&quot;" class="">Pide Presupuesto</a>
        </button>
      </div>
    </div>

    <div class="flex items-center justify-center bg-[#d85427] h-[150px]">
      <div class="p-2 lg:p-0 relative text-white w-full md:max-w-[1100px]">
        <div class="absolute top-4 left-2 lg:left-0 py-4 uppercase text-xs font-bold">Promociones</div>
        <div class="h-full flex justify-between items-center py-10 mt-2">
          <div class="text-2xl lg:text-4xl font-extrabold uppercase">
            <span>Reformas Integrales Económicas</span><br>
            <span>En Vitoria Y Alrededores</span>
          </div>
          <a href="https://construccionesjerossua.eu/reformaintegral" class="group bg-white text-red-600 font-bold rounded-full py-2 px-6 shadow-lg flex items-center cursor-pointer">
            <span>Conoce más..</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 ml-2">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="w-full m-auto md:max-w-[1100px] mt-[60px] p-2 lg:p-0">
    <h2 class="text-2xl mt-6 mb-3 uppercase">NUESTROS SERVICIOS</h2>
    <hr>
    <br>
    <!-- LO SIGUIENTE SE GENERA EN main.js -->
    <div id="services-items" class="grid grid-cols-1 lg:grid-cols-3 gap-[30px]">
      {services.map(service => (
        <Card
          title={service.title} 
          description={service.description} 
          images={service.images} 
        />
      ))}
    </div>
  </section>
  <Footer />
</Layout>