---
const images = [
  '/images/services/1.jpg',
  '/images/services/2.jpg',
  '/images/services/3.jpg',
  '/images/services/4.jpg',
  '/images/services/5.jpg',
  '/images/services/6.jpg',
  '/images/services/7.jpg',
  '/images/services/8.jpg',
  '/images/services/10.jpg',
  '/images/services/11.jpg',
  '/images/services/12.jpg',
  '/images/services/13.jpg',
]
---

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  {images.map(image => (
    <div>
      <img class="h-80 w-full max-w-full rounded-lg object-cover" src={image}>
    </div>
  ))}
</div>