---
import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'
import Whatsapp from './icons/Whatsapp.astro'

interface Props {
  color: string
}

const { color } = Astro.props
---

<ul
  id="social"
  class={`hidden lg:flex ml-[40px] h-full items-center justify-center gap-[20px] uppercase font-light ${color}`}
>
  <li>
    <a href="https://www.facebook.com/juanjscalcagno" title="Síguenos en Facebook">
      <Facebook />
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/jerossua_construcciones_srl" title="Síguenos en Instagram">
      <Instagram />
    </a>
  </li>
  <li>
    <a href="https://api.whatsapp.com/send?phone=6639130333&text=Jerossua%20Construcciones" title="Escríbenos por Whatsapp">
      <Whatsapp />
    </a>
  </li>
</ul>

<style is:global>
  #social li a {
    cursor: pointer;
    transition: all 0.5s ease;
  }

  header.background #social li a {
    color: black;
  }
  
  #social li a:hover,
  header.background #social li a:hover {
    transform: scale(1.05);
    color: #d85427;
    transform: scale(1.2);
  }
</style>